@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
#parent1{
    display:none;
}
#spimg{
    margin-top:60%;
    margin-left: 25%;
}
#child1{
margin-left:15%;
height:5%;
width: 70%;
background-color: gray;
border-radius: 20px 20px 20px 0;
}
#userName{
    font-family: "La Belle Aurore", serif;
    font-weight: 800;
}
#env1{
    position: relative;
    padding-left:7%;
}
#env1_1{
    position: absolute;
    margin-top:-61%;
    margin-left:25%;
    transform: rotate(-11deg);
    text-align: center;
}
h5{
    font-family: cursive;
    font-size: 1rem;
    
}

#h51{
    text-align: center;
    color: white;
}
#h52{
    margin-top:5%;
    text-align: center;
    color: white;

}
p{
    font-family: "La Belle Aurore", serif;
    font-weight: 800;
    margin-top:8%;
    text-align: center;
    font-size: 23px;
    background:linear-gradient(45deg,rgb(252, 252, 252),rgb(255, 217, 0),rgb(255, 0, 174),rgb(255, 197, 5),rgb(243, 215, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

button {
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
  
    justify-content: center;
    align-items: center;
    padding: 10px 12.5px 10px 11px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-radius: 12.5px;
    font-size: 12.5px;
    cursor: pointer;
    font-weight: 450;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition:
      transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
      border-color 400ms ease-in-out,
      background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 11px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }
  /* ------------------------------------------------------------------------------------------------------------------------ */

  .container {
    display: grid;
    grid-template-columns: 50% 50%; /* Two equal columns */
    grid-template-rows: 35% 68%; /* First row 100px, second row 200px */
  }
  
  .item {
    display: flex;
  }
  
  .item:nth-child(3) { 
    grid-column: 1 / span 2; /* Make Box 3 span across both columns */
  }
  
#no1{
    margin-left:25%;
}